$iPad: 768px;
$web: 1024px;

@media only screen and (min-width: $iPad) {
  .menu {
    justify-content: initial !important;
    align-content: initial !important;

    &__title {
      margin-top: 30px;
      text-align: center;
    }

    ul {
      margin-left: 20px;
      margin-top: 45px;

      li {
        a {
          span {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .dashboard-filters {
    &__elem {
      button {
        width: initial !important;
      }
    }
  }
}

@media only screen and (min-width: $web) {
  .generic-table {
    max-height: 600px !important;

    table {
      width: 100% !important;
    }
  }

  .dashboard-filters {
    &__elem {
      &__inputs {
        display: flex !important;
      }

      select {
        margin: 0px !important;
        width: 350px !important;
      }

      input {
        margin-left: 10px !important;
        width: 350px !important;
      }
    }
  }
}
