@import "breakpoints";
@import "colors";
@import "general";

.menu {
  background-color: $primary-color;
  color: $complement-color;
  justify-content: center;
  align-content: center;

  &__item {
    margin-bottom: 20px;
  }
}

.generic-table {
  margin-top: 15px;
  max-height: 400px;
  width: 100%;
  overflow-y: auto;

  table {
    width: 800px;

    thead {
      position: sticky;
      top: 0;
      background-color: $primary-color;
      color: $complement-color;
      height: 37px;

      tr {
        th {
          font-weight: 100;
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }

    tbody {

      tr {
        border: 1px solid #e8e8e8;

        td {
          padding-left: 10px;

          span {
            display: block;
            color: #454545;

            &:nth-child(2) {
              color: #797979 !important;
            }
          }
        }
      }
    }
  }
}

.button {
  @include button-style;
}

.showModal {
  visibility: visible;
}

.hideModal {
  visibility: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  border-radius: 5px;
  background-color: $second-color;
  width: 500px;
  padding: 15px;

  &__title {
    text-align: end;
  }

  &__body {
    display: grid;

    input {
      @include input-style;
      margin-top: 15px;
    }

    select {
      @include select-style;
    }

    button {
      @include button-style;
    }
  }
}

.dashboard-filters {
  &__elem {

    &__inputs {
      display: grid;
    }

    select {
      @include select-style;
      margin-bottom: 15px;
    }

    input {
      @include input-style;
      margin-bottom: 15px;
    }

    button {
      @include button-style;
      width: 100%;
    }
  }
}

.multiselect {
  margin-top: 15px !important;
}

.mx-datepicker {
  width: 100% !important;
}

.sales {
  select {
    @include select-style;
    // width: 100%;
  }
}

.seats {
  columns: 2;
  margin-top: 20px;

  &__elem {
    display: flex;
    margin-bottom: 15px;
    align-items: center;

    &-seat {
      display: flex;
      justify-content: space-around;
      width: 30%;

      img {
        height: 20px;
      }
    }

    &-passenger {
      width: 70%;

      input {
        @include input-style;
      }

      button {
        @include button-style;
        width: 45px !important;
      }
    }
  }
}
